---
import ShieldsBadge from "./ShieldsBadge.astro";

interface Props {
  crate?: string;
  hex?: string;
  hexDocs?: string;
  license?: string;
  programmingLanguage?: string;
}

const { crate, hex, hexDocs, license, programmingLanguage } = Astro.props;
const { color, logo } =
  programmingLanguage === "rust"
    ? { color: "orange", logo: "rust" }
    : programmingLanguage === "python"
      ? { color: "green", logo: "python" }
      : programmingLanguage === "gleam"
        ? { color: "ffaff3", logo: "gleam" }
        : {};
---

{programmingLanguage && (
    <img 
    src={`https://img.shields.io/badge/written_in-${programmingLanguage}-${color}.svg${logo ? `?logo=${logo}` : ""}`} 
    alt={`${programmingLanguage} programming language`} />
)}
{crate && (
  <a href={`https://crates.io/crates/${crate}`} class="badge" target="_blank" rel="noopener">
    <img src={`https://img.shields.io/crates/v/${crate}`} alt={`${crate} crate version`} />
  </a>
)}
{hex && (
  <a href={`https://hex.pm/packages/${hex}`} class="badge" target="_blank" rel="noopener">
    <img src={`https://img.shields.io/hexpm/v/${hex}`} alt={`${hex} hex version`} />
  </a>
)}
{hexDocs && (
  <a href={`https://hexdocs.pm/${hexDocs}`} class="badge" target="_blank" rel="noopener">
    <ShieldsBadge label="hex" message="docs" color="ffaff3" />
  </a>
)}
{license && (
  <a href={`https://opensource.org/licenses/${license}`} class="badge" target="_blank" rel="noopener">
    <img
      src={`https://img.shields.io/badge/license-${license}-blue.svg`}
      alt={`${license} license`}
    />
  </a>
)}

<style>
  img {
    margin-right: 0.5em;
  }
</style>